<p>
  home works {{ title }} <br>
  number {{ number || 666 }}
</p>

<p appHighlight>Test </p>
<p *appUnless="true">Show me </p>
<p *appUnless="false">Show me </p>

<!--<ng-template [appUnless]="false">-->
  <!--<p>test</p>-->
<!--</ng-template>-->

<p>
Image url pipe: {{ 'image_url.jpg' | imageUrl }} <br>
Image url pipe: {{ 'image_url.jpg' | imageUrl:'123'}} <br>
Image url pipe: {{ 'image_url.jpg' | imageUrl:'123':'asd' }} <br>
</p>

<p>nasza stopka</p>
<!-- [] communication to component -->
<div [style.color]="'red'">style attribute</div>

<!-- () communication from component -->
<div [style.color]=red (click)=onDivClick()>style attribute</div>

<app-map [coords]="coords" (mapClick)="onMapClick($event)"></app-map>

<p (click)="updateCredits()"> credits: to {{ credits$ | async}}</p>
