<ng-container *ngIf="!isEdit">
  <button class="btn btn-default" (click)="isEdit = !isEdit">Edit</button>
  <pre> {{ artist$ | async | json }}</pre>
</ng-container>

<ng-container *ngIf="isEdit">
  <button class="btn btn-default" (click)="isEdit = false">Edit</button>
  <form [formGroup]="artistForm">
    <input type="hidden" formControlName="id">
    <label>
      Name: <input type="text" formControlName="name">
    </label>
    <label>
      Img: <input type="text" formControlName="img">
    </label>
    <br>
    <button class="btn btn-default" (click)="save()">Save</button>
  </form>
</ng-container>
