<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">AngularApp</a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="" >Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['videos']">Videos</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['music']">Music</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['rxjs']">Rxjs</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a class="nav-link" *ngIf="userService.idleTime | async as time">
        idle time: <b>{{time}}s</b>
        <span *ngIf="time < 3" (click)="userService.refreshButtonClick$.next()">REFRESH</span>
      </a>
    </li>

    <li class="nav">
      <ng-container *ngIf="userService.user$ | async as user; else elseTemplate">
        <a class="nav-link">{{user.name}} <span (click)="userService.logout()">[logout]</span></a>

        <button class="nav-link" *appHasRole="['admin']">Admin</button>
        <button class="nav-link" *appHasRole="['user']">User</button>
      </ng-container>
      <ng-template #elseTemplate>
        <button class="nav-link" appAuth>Login</button>
      </ng-template>
    </li>
  </ul>

</nav>
